Importação

In [26]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\bianc\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\bianc\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [27]:
import mysql.connector

In [28]:
import pandas as pd

In [29]:
conexao = mysql.connector.Connect(
    host = 'localhost',
    user = 'root',
    password = 'admin',
    database = 'testeaulapython',
)

In [30]:
cursor = conexao.cursor()

In [31]:
# Nome tabela de destino
nome_Tabela = 'teamusa'
consulta_sql = f"SELECT * FROM {nome_Tabela}"
cursor.execute(consulta_sql) # Execução do script SQL

Leitura dos registros do banco

In [32]:
dados = cursor.fetchall()
colunas = [i[0] for i in cursor.description] # lendo quantas colunas tiverem
df = pd.DataFrame(dados, columns=colunas)
cursor.close() # Sempre fechar a conexão com o banco de dados
conexao.close()
print(df)

                 name team pos    salary  star_year  end_year  years
0     Clayton Kershaw  LAD  SP  33000000       2014      2020      7
1        Zack Greinke  ARI  SP  31876966       2016      2021      6
2         David Price  BOS  SP  30000000       2016      2022      7
3      Miguel Cabrera  DET  1B  28000000       2014      2023     10
4    Justin Verlander  DET  SP  28000000       2013      2019      7
..                ...  ...  ..       ...        ...       ...    ...
863      Steve Selsky  BOS  RF    535000       2017      2017      1
864     Stuart Turner  CIN   C    535000       2017      2017      1
865    Vicente Campos  LAA  RP    535000       2017      2017      1
866     Wandy Peralta  CIN  RP    535000       2017      2017      1
867        Yandy Diaz  CLE  3B    535000       2017      2017      1

[868 rows x 7 columns]