Dados Randômicos

In [1]:
#!pip install mysql-connector-python
import mysql.connector
from random import choice, randint

In [2]:
db_config = {
    'host' : 'localhost',
    'username' : 'root',
    'password' : 'admin',
    'database' : 'testeaulapython'
}

In [8]:
conn = mysql.connector.connect(**db_config) # Conexão com os dados da configuração. Os asteríscos são para desenpacotar o dicionário.
cursor = conn.cursor()

# Query para criação de uma Tabela
create_table_query = "CREATE TABLE IF NOT EXISTS dados_aleatorios (id int auto_increment primary key, nome varchar(50), idade int, cidade varchar(50))"

cursor.execute(create_table_query)
conn.commit() # Executa e valida essa criação da tabela

In [9]:
nomes = ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hank']
cidades = ['Nova York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Filadélfia']

# Query para inserção dos dados na tabela
for _ in range(2000):
    nome = choice(nomes) # escolhe um nome dentro do vetor
    idade = randint(18,99) # gera randomicamente números entre 18 e 99
    cidade = choice(cidades)

    
    insert_query = "INSERT INTO dados_aleatorios (nome, idade, cidade) VALUES (%s, %s, %s)"
    data = (nome, idade, cidade)
    cursor.execute(insert_query, data)

conn.commit()

cursor.close()
conn.close()

Recuperar dados da Tabela dados_aleatorios no MySQL

In [ ]:
import mysql.connector
import pandas as pd

db_config = {
    'host' : 'localhost',
    'username' : 'root',
    'password' : 'admin',
    'database' : 'testeaulapython'
}

conn = mysql.connector.connect(**db_config) # Conexão com os dados da configuração. Os asteríscos são para desenpacotar o dicionário.
cursor = conn.cursor()
select_query = "SELECT * FROM dados_aleatorios"
df = pd.read_sql(select_query,conn)

conn.close()

print(df)