In [ ]:
print("Hello World com Jupyter Notebook")

Instalação de Biblioteca - Pandas

In [ ]:
%pip install pandas

Exemplo de código utilizando a biblioteca Pandas

In [9]:
import pandas as pd
tabela = pd.DataFrame(
    {
        "Nome": ["Bianca", "Aparecida"],
        "Idade": [28, 26]
    }
)
display(tabela)

        Nome  Idade
0     Bianca     28
1  Aparecida     26